<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="text-center">
        <% if params[:plan]=='2' %>
          <h2>Pro Account</h2>
          <p>This is the Pro account where you will have access to the community with the contact information by paying 10$/month</p>
        <% else %>
          <h2> Basic Account </h2>
          <p> This is the Basic account where you will have access to the basic information </p>
        <% end %>
      </div>


      <div class="well">
        <h2 >Sign up</h2>
        <% if params[:plan]=='2' %>
            <%= render "pro_form" %>
        <% else %>
          <%= render "basic_form" %>
        <% end %>
        <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>